{% extends "main.html" %}
{% block content %}
  <section>
    <h2>New {{category.name}} Item</h2>
    <form action="#" method = "post">
      <label for="name">Name:</label>
      <input class="form-elem" type="text" maxlength="50" class="form-control" name="name" placeholder="Item name"></input>
      <label for="description">Description:</label>
      <textarea class="form-elem" maxlength="250" rows="3" name="description" placeholder="Item Description"></textarea>
      <button type="submit" id="submit" type="submit">Submit</button>
    </form>
  </section>
{% endblock %}

